body{
    background-color: rgb(172, 195, 215);
    
}


h1{
    color: rgb(152, 92, 92);
}
h3{
    color: rgb(146, 96, 2);
}

img{
    width: 600px;
    align-items: center;
    border-radius: 0%;
}